@model Parrot

@{
    ViewData["Title"] = "Add New Parrot";
}

<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h1>Your Parrot</h1>
            <p>If you would like AnimalMagic to look after your parrot, please tell us more about them:</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form class="form" method="post" asp-action="Add">
                <table class="table">
                    <tr>
                        <td><label asp-for="Name">Your parrot's name:</label></td>
                        <td>
                            <input type="text" asp-for="Name" pattern="[A-Za-z]+" />
                            <span asp-validation-for="Name" class="text-danger"></span> 
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="Claws">How many claws they have:</label></td>
                        <td>
                            <input type="number" inputmode="numeric" pattern="[0-9]." asp-for="Claws" />
                            <span asp-validation-for="Claws" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="Sound">Their favourite sound:</label></td>
                        <td>
                            <input type="text" asp-for="Sound" pattern="[A-Za-z]+" />
                            <span asp-validation-for="Sound" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" class="btn btn-primary" value="Add" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>