@model IEnumerable<Animal>

<div class="row">
    <div class="col text-center">
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Type</th>
                <th>Name</th>
                <th>Sound</th>
            </thead>
            <tbody>
                @foreach (var animal in Model)
                {
                    <tr>
                        <td>@animal.Id</td>
                        <td>@animal.GetType().Name</td>
                        <td>@animal.Name</td>
                        <td>@animal.Sound</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-2">
        <a class="btn btn-primary" asp-controller="Dogs" asp-action="Add">Add New Dog</a>
        <a class="btn btn-primary" asp-controller="Cats" asp-action="Add">Add New Cat</a>
        <a class="btn btn-primary" asp-controller="Parrots" asp-action="Add">Add New Parrot</a>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-2">
        <a class="btn btn-primary" asp-action="GetAnimals">Get JSON</a>
    </div>
</div>