@model Dog

@{
    ViewData["Title"] = "Edit Dog Details";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Edit Details</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form class="form" method="post" asp-action="Edit">
                <table class="table">
                    <tr>
                        <td><label asp-for="Name">Your dog's name:</label></td>
                        <td>
                            <input type="text" asp-for="Name" pattern="[A-Za-z]+" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="Legs">How many legs they have:</label></td>
                        <td>
                            <input type="number" inputmode="numeric" pattern="[0-9]." asp-for="Legs" />
                            <span asp-validation-for="Legs" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="Sound">What sound they make:</label></td>
                        <td>
                            <input type="text" asp-for="Sound" pattern="[A-Za-z]+" />
                            <span asp-validation-for="Sound" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" class="btn btn-primary" value="Add" /></td>
                    </tr>
                </table>
                <input type="hidden" asp-for="Id" />
            </form>
        </div>
    </div>
</div>
